body{
    background-color:#F7FAFC ;
}
#menu-lateral
{
    width: 20%;
    height: 1090px;
    background-color: #FFFF;
    text-align: center;
}
.img-cliente
{
   padding-top: 200px;
}
.img
{
    border-radius: 70px;
    width: 50%;
}
.informacao-cliente{
    width: 100%;
}
.text-clinte{
    font-family: 'Noto Sans', sans-serif;
    color: rgb(127, 127, 129);
}
.text-clinte-perfil
{
    font-family:  'Noto Sans', sans-serif;;
    color: rgb(127, 127, 129);
    margin-top: -18px;
}
.img-nav{
    display: inline-block;
    width: 20px;    
}
.menu-de-navegacao-perfil
{
    text-align: left;
    margin-top: 60px;
}
.text-nav-2
{

}